*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: 0;

}

body{
    background:#1F1D36;
    color:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.login-section{
    width:350px;
    height:400px;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    /* background:red; */
}

.login-section label{
    font-size: 1.15em;
    margin:10px;
}

.login-section input{
    border:2px solid #000;
    padding:5px 10px;
    width:200px;
    border-radius:20px;
    font-size:1em;
    text-align: center;
    color:#000;
    margin:20px;
}

.container{
    padding:2em;
    display: none;
    /* display:flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4.5em;
    margin:15px;
    text-align: center;
}

h3{
    font-size: 1.75em;
}

input[type="checkbox"]{
    height:20px;
    width:20px;
    margin-right:5px;
    position: relative;
    top:5px;
}

.ratings-div,.tags-div{
    margin:20px auto;
    display: flex;
    flex-direction: column;

}
.ratings-tab,.tags-tab{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.ratings-tab .check,.tags-tab .check{
    margin:10px;
    margin-left:0;
}

button{
    background:rgb(36, 36, 36);
    color:#fff;
    border:2px solid rgb(168, 164, 164);
    font-size:16px;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#0e0d0d;
    color:#fff;
}

.timer{
    display: flex;
    flex-direction: column;
}

.timer-div{
    display: flex;
    flex-direction: row;
    margin:10px 0;
}

.timer-form{
    margin-right: 20px;
}

.timer-form input[type="text"]{
    width:40px;
    margin:5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score{
    background:rgba(0, 0, 0, 0.4);
    border:2px solid #f1f1f1;
    border-radius:10px;
    padding:10px;
    position: absolute;
    right:10px;
    top:10px;
}

.footer{
    background:#191919;
    text-align: center;
    padding:10px;
    font-size:18px;
    width:100vw;
}

.footer.before{
    position: fixed;
    bottom:0;
}

.contact-links{
    display: flex;
    justify-content: center;
    margin-top:10px;
    align-items: center;
}

a{
    color:#fff;
    text-decoration: none;
    margin-right:10px;
}

i{
    font-size: 24px;
}

@media only screen and (max-width:600px) {
    h1{
        font-size:3.5em;
    }

    h3{
        font-size:1em;
    }

    input{
        height:15px;
        width:15px;
        margin-right:5px;
        position: relative;
        top:2.5px;
    }
    .ratings-div,.tags-div{
        margin:10px auto;
        display: flex;
        flex-direction: column;
    
    }
    .ratings-tab,.tags-tab{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .ratings-tab .check,.tags-tab .check{
        margin:10px;
        margin-left:0;
    }
    
    button{
        background:rgb(36, 36, 36);
        color:#fff;
        border:2px solid rgb(168, 164, 164);
        font-size:16px;
        padding:10px 15px;
        border-radius:10px;
        cursor:pointer;
        margin:10px;
    }
    button:hover{
        background:#0e0d0d;
        color:#fff;
    }
}
