*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: 0;

}

body{
    background:#1F1D36;
    color:#FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.login-section{
    width:350px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.login-section label{
    font-size: 18px;
    margin:10px;
}

.login-section input{
    border:2px solid #000;
    padding:5px 10px;
    width:200px;
    border-radius:20px;
    font-size:16px;
    text-align: center;
    color:#000;
    margin:20px;
}

.container{
    padding:32px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
    margin:15px;
    text-align: center;
}

h3{
    font-size: 28px;
}

input[type="checkbox"]{
    height:20px;
    width:20px;
    margin-right:5px;
    position: relative;
    top:5px;
}

.ratings-div,.tags-div{
    margin:20px auto;
    display: flex;
    flex-direction: column;

}
.ratings-tab,.tags-tab{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.ratings-tab .check,.tags-tab .check{
    margin:10px;
    margin-left:0;
}

button{
    background:rgb(36, 36, 36);
    color:#fff;
    border:2px solid rgb(168, 164, 164);
    font-size:16px;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#0e0d0d;
    color:#fff;
}

.timer{
    display: flex;
    flex-direction: column;
}

.timer-div{
    display: flex;
    flex-direction: row;
    margin:10px 0;
}

.timer-form{
    margin-right: 20px;
}

.timer-form input[type="text"]{
    width:40px;
    margin:5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score{
    background:rgba(0, 0, 0, 0.4);
    border:2px solid #f1f1f1;
    border-radius:10px;
    padding:10px;
    position: fixed;
    right:10px;
    top:10px;
}

.overlay{
    height:100vh;
    width:100vw;
    background:rgba(20, 20, 20, 0.671);
    position: absolute;
    display: none;
    top:0;
    z-index:1;
    backdrop-filter: blur(10px);
}

.modal{
    height:250px;
    width:300px;
    display:none;
    place-items: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: #191919cb;
    border:2px solid #000;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index:2;
}

.btn-group button{
    margin:10px;
}

.footer{
    background:#191919;
    text-align: center;
    padding:10px;
    font-size:18px;
    width:100%;
}

.footer.before{
    position: absolute;
    bottom:0;
    z-index:1;
}

.contact-links{
    display: flex;
    justify-content: center;
    margin-top:10px;
    align-items: center;
}

a{
    color:#fff;
    text-decoration: none;
    margin-right:10px;
}

i{
    font-size: 24px;
}

.result{
    z-index:10000;
    background:#fff;
    width:fit-content;
    padding:10px 20px;
    display: flex;
    position: absolute;
    bottom:100px;
    right:20px;
    border-radius:20px;
    transform:translateX(+1000px);
    transition: transform 0.4s;

}

.result.active{
    transition: transform 0.4s;
    transform:translateX(0);
}

.result i{
    margin-right:10px;
}

.result p{
    margin-left:10px;
    font-weight:700;
}
.timeup{
    border:5px solid rgb(255, 0, 0); 
    color:rgb(255, 0, 0); 
}

.success{
    border:5px solid rgb(30, 207, 30); 
    color:rgb(30, 207, 30);
}

.failure{
    border:5px solid rgb(255, 136, 0);
    color:rgb(255, 136, 0);
}

.gaveup{
    border:5px solid rgb(119, 0, 255); 
    color:rgb(119, 0, 255);
}



@media only screen and (max-width:600px) {
    h1{
        font-size:3.5em;
    }

    h3{
        font-size:1em;
    }

    input{
        height:15px;
        width:15px;
        margin-right:5px;
        position: relative;
        top:2.5px;
    }
    .ratings-div,.tags-div{
        margin:10px auto;
        display: flex;
        flex-direction: column;
    
    }
    .ratings-tab,.tags-tab{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .ratings-tab .check,.tags-tab .check{
        margin:10px;
        margin-left:0;
    }
    
    button{
        background:rgb(36, 36, 36);
        color:#fff;
        border:2px solid rgb(168, 164, 164);
        font-size:16px;
        padding:10px 15px;
        border-radius:10px;
        cursor:pointer;
        margin:10px;
    }
    button:hover{
        background:#0e0d0d;
        color:#fff;
    }
}
